<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yogandrn.bumdeskm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_me"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_me_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coba2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.BeriUlasan"
            android:exported="false" />
        <activity
            android:name=".Activity.PenawaranTerbaik"
            android:exported="false" />
        <activity
            android:name=".Activity.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PreorderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.KatalogActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailPreorder"
            android:exported="false" />
        <activity
            android:name=".Activity.PetunjukPreorderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BuatPreorderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Activity.CekPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".Activity.PertunjukBayarActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UbahFotoProfil"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BayarActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListPesanan"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailProduk"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>